*{
    background-color: #f8c02e;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.pages{
    display: flex-row;
    flex-shrink: 3;
    justify-content: space-evenly;

}


img{
    height:1000px;
    width: auto;
}


nav{
    padding: 10px ;
}
li{
    display: inline-block;
    margin-left: 100px;
    margin-right: 0px;;

    color: black;
}

#welcomeBanner {
    margin: 25px;
    background-color: whitesmoke;
}
p{
    margin: 30px;
    display: inline-block;
    margin-left: 100px;
    margin-right: 0px;;
    color: black;
    font-size: 20px;

}


#canvas {
    background-color: whitesmoke;
    

}
